about {
    max-width: 100vw;
    margin-bottom: 20%;
}

.about-container {
    max-width: 920px;
    margin: 0 auto; 
    
}

.about-container p {
    text-align: justify;
    line-height: 2.0em;
    color: red;
    font-size: 1.2rem;

}

@media screen and (max-width: 1024px) {
    .about-container {
      max-width: 80%;
    }
  }
  
  @media screen and (max-width: 425px) {
    .about-container {
      max-width: 85%;
    }
  }