about {
    max-width: 100vw;
    margin-bottom: 20%;
}

.about-container {
    max-width: 920px;
    margin: 0 auto;
}

.about-text >p{
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .about-container {
      max-width: 80%;
    }
  }
  
  @media screen and (max-width: 425px) {
    .about-container {
      max-width: 85%;
    }
  }