.nav-container {
    display: flex;
    height: 13vh;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    background: #f9d5f6;
}

.nav-logo {
    align-items: center;
    display: flex;
    justify-content: baseline;

}

li {
    cursor: pointer;
    margin-right: 20px;
}

li:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 0.75em;
}

.nav-menu {
    display: flex;
    align-items: center;
}


.menu-items>ul {
    display: flex;
    margin-right: 4rem;
    align-items: center;
}

.menu-item {
    display: block;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #080808;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}