.header {
    background-color: #a07fec;
    height: 90vh;
    display: flex;
    max-width: 100%;
    justify-content: start;
}

.header-ilustration>img {
    
    position: relative;
    max-width: fit-content;
    z-index: 100;
    max-height: 90vh;
    margin-left: 12vw;
    top: -18px;
    overflow: hidden;
}

.header-text {
    justify-content: flex-start;
    margin-left: 20px;
    max-width: 400px;
    margin-left: 10vw;
    margin-top: calc((90vh - 330px) / 2);
}

.header-text > p {
    margin: 50px 0;
}

@media screen and (max-width: 768px){
    .header, .header-text {
        justify-content: center;
    }

    .header-ilustration>img {
        display: none;
    }


}

    